{{#tree-list hide=currentSchema as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Spider{{#animation-container class="inline" hide=currentSpider setHeight=false}}s{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        Spiders
                        <p>
                            A spider crawls web pages to extract data.
                        </p>
                        <p>
                            It is most common to create a spider for each website you wish to crawl, but
                            a single spider can also crawl more than one website.
                        </p>
                        <p>
                            To create a spider first visit a web page that you would like to start
                            crawling from.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/title-item.text}}
            {{#tooltip-container tooltipFor="add-spider-button" text=addSpiderTooltipText tooltipContainer='body'}}
                {{title-item.icon id="add-spider-button" icon='add' disabled=(not canAddSpider) action=(action 'addSpider')}}
            {{/tooltip-container}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item hide=(or project.spiders.isPending project.spiders.length) as |none-item|}}
                {{#none-item.text class="text-center"}}
                    This project has no spiders
                {{/none-item.text}}
            {{/title-item.subtree.item}}
            {{#title-item.subtree.item hide=(or project.spiders.isPending project.spiders.length) class="help"}}
                <div class="alert alert-info" role="alert">
                    <p>
                        To create a spider first visit a web page that you would like to start
                        crawling from.
                    </p>
                </div>
            {{/title-item.subtree.item}}
            {{#each project.spiders as |spider|}}
                {{#title-item.subtree.item model=spider hide=(and currentSpider (not-eq spider currentSpider)) as |spider-item|}}
                    {{#spider-item.link 'projects.project.spider' spider (query-params url=spider.startUrls.firstObject baseurl=null) current-when='projects.project.spider'}}
                        {{spider-item.icon icon='spider'}}
                        {{#if currentSpider}}
                            {{#spider-item.text}}
                                {{spider.name}}
                            {{/spider-item.text}}
                        {{else}}
                            {{spider-item.editable value=(mut spider.name) onChange=(action 'saveSpiderName' spider) validate=(action 'validateSpiderName')}}
                        {{/if}}
                        {{#animation-container class="icon" setWidth=false setHeight=false}}
                            {{spider-item.icon icon='remove' action=(action 'removeSpider' spider) bubbles=false}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq spider currentSpider) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "spider-options-button" (guid spider)) text="Advanced spider options" tooltipContainer='body'}}
                                {{#spider-item.link 'projects.project.spider' id=(concat "spider-options-button" (guid spider)) bubbles=false}}
                                    {{#spider-item.link 'projects.project.spider.options' bubbles=false class="ignore-active"}}
                                        {{spider-item.icon icon='options'}}
                                    {{/spider-item.link}}
                                {{/spider-item.link}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq spider currentSpider) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "spider-close-button" (guid spider)) text="Close spider" tooltipContainer='body'}}
                                {{#spider-item.link 'projects.project' id=(concat "spider-close-button" (guid spider)) bubbles=false}}
                                    {{spider-item.icon icon='close'}}
                                {{/spider-item.link}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                    {{/spider-item.link}}
                {{/title-item.subtree.item}}
            {{/each}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}

{{#tree-list hide=currentSpider as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Data Format{{#animation-container class="inline" hide=currentSchema setHeight=false}}s{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        Data Formats
                        <p>
                            A data format describes the data that you want to extract.
                        </p>
                        <p>
                            Spiders can share a data format to extract the same logical data type from
                            different web pages.
                        </p>
                        <p>
                            You can create data formats in advance, but you can also create them later,
                            while annotating the data on a web page.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/title-item.text}}
            {{#tooltip-container tooltipFor="add-schema-button" text="Create a new Schema" tooltipContainer='body'}}
                {{title-item.icon id="add-schema-button" icon='add' action=(action 'addSchema')}}
            {{/tooltip-container}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item hide=(or project.schemas.isPending project.schemas.length) as |none-item|}}
                {{#none-item.text class="text-center"}}
                    This project has no data formats
                {{/none-item.text}}
            {{/title-item.subtree.item}}
            {{#each project.schemas as |schema|}}
                {{#title-item.subtree.item model=schema hide=(and currentSchema (not-eq schema currentSchema)) as |schema-item|}}
                    {{#schema-item.link 'projects.project.schema' schema}}
                        {{schema-item.icon icon='schema'}}
                        {{schema-item.editable value=(mut schema.name) editing=(mut schema.new) onChange=(action 'saveSchema' schema)}}
                        {{#animation-container class="icon" setWidth=false setHeight=false}}
                            {{schema-item.icon icon='remove' disabled=(not (not schema.items.length)) action=(action 'removeSchema' schema) bubbles=false}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq schema currentSchema) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "schema-close-button-" (guid schema)) text="Close schema" tooltipContainer='body'}}
                                {{#schema-item.link 'projects.project' id=(concat "schema-close-button-" (guid schema)) bubbles=false}}
                                    {{schema-item.icon icon='close'}}
                                {{/schema-item.link}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                    {{/schema-item.link}}
                {{/title-item.subtree.item}}
            {{/each}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}
