{{#tree-list as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Fields
                {{#help-icon}}
                    Fields
                    <p>
                        A field describes the type of a value that you want to extract.
                    </p>
                    <p>
                        Sample pages map the elements of a web page to the individual fields of a
                        data format.
                    </p>
                    <p>
                        You can create fields in advance, but you can also create them later, while
                        annotating the data on a web page.
                    </p>
                {{/help-icon}}
            {{/title-item.text}}
            {{#tooltip-container tooltipFor="add-field-button" text="Add field" tooltipContainer='body'}}
                {{title-item.icon id="add-field-button" icon='add' action=(action 'addField')}}
            {{/tooltip-container}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item hide=(or schema.fields.isPending schema.fields.length) as |none-item|}}
                {{#none-item.text class="text-center"}}
                    This data format has no fields
                {{/none-item.text}}
            {{/title-item.subtree.item}}
            {{#each schema.fields as |field|}}
                {{#title-item.subtree.item model=field as |field-item|}}
                    {{#field-item.link 'projects.project.schema.field' field}}
                        {{field-item.icon icon=field.type}}
                        {{field-item.editable value=(mut field.name) editing=(mut field.new) onChange=(action 'saveField' field) validate=(action 'validateFieldName' field)}}
                        {{#field-item.field-type}}
                            Change field type
                        {{/field-item.field-type}}
                        {{#field-item.link 'projects.project.schema.field.options' field bubbles=false class="ignore-active"}}
                            {{field-item.icon icon='options'}}
                        {{/field-item.link}}
                        {{field-item.icon icon='remove' disabled=(not (not field.annotations.length)) action=(action 'removeField' field) bubbles=false}}
                    {{/field-item.link}}
                {{/title-item.subtree.item}}
            {{/each}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}
