{{#tree-list hide=currentSample as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Start Pages
                {{#help-icon}}
                    Start Pages
                    <p>
                        Start pages are web pages that a spider will begin its crawl from. It&nbsp;will
                        then continue to other web pages according to the defined link crawling
                        rules.
                    </p>
                    <p>
                        Start pages also restrict the domains that a spider will crawl. A&nbsp;spider
                        will never follow a link that goes to a domain not included in the start
                        pages.
                    </p>
                    <p>
                        Without a start page the spider cannot begin crawling.
                    </p>
                {{/help-icon}}
            {{/title-item.text}}
            {{#tooltip-container tooltipFor="add-start-url-button" text="Start crawling from the current page" tooltipContainer='body'}}
                {{title-item.icon id="add-start-url-button" icon='add' action=(action 'addStartUrl')}}
            {{/tooltip-container}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item hide=spider.startUrls.length as |none-item|}}
                {{#none-item.text class="text-center"}}
                    This spider has no start pages
                {{/none-item.text}}
            {{/title-item.subtree.item}}
            {{#title-item.subtree.item hide=spider.startUrls.length class="help"}}
                <div class="alert alert-warning" role="alert">
                    <p>
                        A spider needs at least one start page to start crawling from.
                    </p>
                </div>
            {{/title-item.subtree.item}}
            {{#each spider.startUrls key="@index" as |url|}}
                {{#if (or (not newUrl) (not-eq urlValue url))}}
                    {{title-item.subtree.url-item spider=spider url=url}}
                {{/if}}
            {{/each}}
            {{#if newUrl}}
                {{title-item.subtree.url-item spider=spider url=urlValue urlAdded=(mut newUrl)}}
            {{/if}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}

{{#tree-list hide=currentSample as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Link Crawling
            {{/title-item.text}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item model=spider as |crawling-item|}}
                {{crawling-item.icon icon='link'}}
                {{crawling-item.link-crawling}}
                {{#if (not-eq spider.linksToFollow 'none')}}
                    {{#crawling-item.link 'projects.project.spider' bubbles=false}}
                        {{#crawling-item.link 'projects.project.spider.link-options' bubbles=false class="ignore-active"}}
                            {{crawling-item.icon icon='options'}}
                        {{/crawling-item.link}}
                    {{/crawling-item.link}}
                {{/if}}
            {{/title-item.subtree.item}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}

{{#tree-list as |list|}}
    {{#list.item hasChildren=true as |title-item|}}
        {{#if (eq title-item.section "item")}}
            {{#title-item.text class="title"}}
                Sample Page{{#animation-container class="inline" hide=currentSample setHeight=false}}s{{/animation-container}}
                {{#animation-container class="inline" setHeight=false}}
                    {{#help-icon}}
                        Sample Pages
                        <p>
                            A sample page is a web page with the data you want to extract annotated.
                        </p>
                        <p>
                            When the spider crawls to a new web page it finds the sample page that is
                            the best match, and uses it to extract data.
                        </p>
                        <p>
                            If you see a web page that the spider is having trouble extracting data
                            from, you can create a new sample page from that web page to improve the
                            extraction.
                        </p>
                    {{/help-icon}}
                {{/animation-container}}
            {{/title-item.text}}
            {{#tooltip-container tooltipFor="add-sample-button" text="Create a new sample from the current page" tooltipContainer='body'}}
                {{title-item.icon id="add-sample-button" icon='add' disabled=(not canAddSample) action=(action 'addSample')}}
            {{/tooltip-container}}
        {{else if (eq title-item.section "subtrees")}}
            {{#title-item.subtree.item hide=(or spider.samples.isPending spider.samples.length) as |none-item|}}
                {{#none-item.text class="text-center"}}
                    This spider has no sample pages
                {{/none-item.text}}
            {{/title-item.subtree.item}}
            {{#title-item.subtree.item hide=(or spider.samples.isPending spider.samples.length) class="help"}}
                <div class="alert alert-info" role="alert">
                    <p>
                        Navigate to a web page that has the data you need, and create a new sample
                        page to begin annotating the data.
                    </p>
                </div>
            {{/title-item.subtree.item}}
            {{#each spider.samples as |sample|}}
                {{#title-item.subtree.item model=sample hide=(and currentSample (not-eq sample currentSample)) as |sample-item|}}
                    {{#sample-item.link 'projects.project.spider.sample' sample (query-params url=sample.url baseurl=null) current-when='projects.project.spider.sample'}}
                        {{sample-item.icon icon='sample'}}
                        {{sample-item.editable value=(mut sample.name) editing=(mut sample.new) onChange=(action 'saveSample' sample)}}
                        {{#animation-container class="icon" setWidth=false setHeight=false}}
                            {{sample-item.icon icon='remove' action=(action 'removeSample' sample) bubbles=false}}
                        {{/animation-container}}
                        {{#animation-container class="icon" hide=(not-eq sample currentSample) setWidth=false setHeight=false}}
                            {{#tooltip-container tooltipFor=(concat "sample-close-button" (guid sample)) text="Close sample" tooltipContainer='body'}}
                                {{#sample-item.link 'projects.project.spider' id=(concat "sample-close-button" (guid sample)) bubbles=false}}
                                    {{sample-item.icon icon='close'}}
                                {{/sample-item.link}}
                            {{/tooltip-container}}
                        {{/animation-container}}
                    {{/sample-item.link}}
                {{/title-item.subtree.item}}
            {{/each}}
        {{/if}}
    {{/list.item}}
{{/tree-list}}
